#main-nav {
  text-align: center;
}
#main-nav .container {
  line-height: 0;
}
#main-nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
#main-nav ul:after {
  content: "";
  clear: both;
  display: table;
}
#main-nav ul:hover,
#main-nav ul:focus-within {
  overflow: visible;
}
#main-nav li {
  position: relative;
  float: left;
  /*background-color: #17B0FF;*/
}
#main-nav > ul > li:hover > a,
#main-nav > ul > li:focus-within > a {
  color: #642ec4;
}
#main-nav a {
  display: block;
  font-weight: 600;
  line-height: 1.4;
  padding: 15px 35px;
  position: relative;
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

/* second level */
#main-nav ul ul {
  display: block;
  max-height: 0;
  text-align: left;
  transition: max-height 1s;
}
#main-nav ul li ul {
  position: absolute;
}
#main-nav ul li:hover ul,
#main-nav ul li:focus-within ul {
  border-bottom: 2px solid #2c76d1;
  max-height: 999px;
  z-index: 1;
}
#main-nav ul ul li {
  float: none;
  background-color: white;
}
#main-nav ul ul li:hover,
#main-nav ul ul li:focus {
  background-color: white; /*#f1f1f1;*/ /*#1289C7;*/
}
#main-nav ul ul li a {
  color: #000;
  min-width: 160px;
  font-size: 15px;
  font-weight: 500;
}
#main-nav ul ul li:hover a,
#main-nav ul ul li:focus-within a {
  color: #2c76d1;
}

/* third level */
#main-nav ul ul ul {
  position: absolute;
  width: 0;
  top: 0;
  left: 100%;
  transition: width 0.5s;
}
#main-nav ul ul li:hover > ul,
#main-nav ul ul li:focus-within > ul {
  width: 100%;
}
#main-nav ul ul ul li {
  background-color: white;
}
#main-nav ul ul ul li:hover,
#main-nav ul ul ul li:focus-within {
  background-color: #fff;
}
#main-nav ul ul ul li a,
#main-nav ul ul li:hover ul li a,
#main-nav ul ul li:focus-within ul li a {
  color: #000;
}
#main-nav ul ul li:hover ul li:hover a,
#main-nav ul ul li ul li:focus a {
 color: #2c76d1;
}

/* Fourth level */
#main-nav ul ul ul ul {
  position: absolute;
  width: 0;
  top: 0;
  left: 100%;
  transition: width 0.5s;
}
#main-nav ul ul ul li:hover ul,
#main-nav ul ul ul li:focus-within ul {
  width: 100%;
}
#main-nav ul ul ul ul li {
  background-color: white;
}
#main-nav ul ul ul ul li:hover,
#main-nav ul ul ul ul li:focus {
  background-color: #fff;
}
#main-nav ul ul li:hover ul li:hover ul li a,
#main-nav ul ul li ul li:focus ul li a {
  color: #000;
}
#main-nav ul ul li:hover ul li:hover ul li:hover a,
#main-nav ul ul li ul li:focus ul li a {
  color: #2c76d1;
}

/* sub list elements */

#main-nav ul li.has-child > a {
 padding-right: 30px;
}
#main-nav ul li.has-child > a:after {
 font-family: IcoFont !important;
 content: '\ea99';
 font-size: 120%;
 position: absolute;
 font-size: 15px;
 top: 50%;
 transform: translateY(-50%);
 right: 5px;
}
#main-nav ul ul li.has-child > a:after {
 font-family: IcoFont !important;
 content: '\eaa0';
 font-size: 120%;
 position: absolute;
 font-size: 15px;
 top: 50%;
 transform: translateY(-50%);
 right: 5px;
}

/*hover effect 1st level*/
#main-nav > ul > li > a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  /* border-radius: 4px; */
  background-color: #642ec4;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

#main-nav > ul > li > a {
 position: relative;
 padding: 7px 0;
}

#main-nav > ul > li {
  padding: 0 20px;
}

#main-nav > ul > li > a:hover::before,
#main-nav > ul > li:hover > a::before,
#main-nav > ul > li > a:focus::before {
 transform-origin: left;
 transform: scaleX(1);
}

