#mobile-side-nav {
 display: none;

 background-color: #2c76d1;
 color: #fff;
 margin-bottom: 20px;
}
#mobile-side-nav > ul {
 display: none;
}
.mobile-side-title {
 color: #fff;
 display: flex;
 justify-content: space-between;
 text-decoration: none;
}
.mobile-side-title span {
 padding: 10px;
}
.mobile-side-title i {
 padding: 10px;
 width: 30px;
 height: 30px;
 line-height: 30px;
 text-align: center;
}
#mobile-side-nav ul {
 list-style: none;
 margin: 0;
 padding: 0;
}
#mobile-side-nav ul li {
 border-bottom: 1px dotted rgb(255 255 255 / 24%);
}
#mobile-side-nav ul li.has-child ul {
 display: none;
}
#mobile-side-nav ul li a {
 color: #fff;
 display: block;
 padding: 10px;
 position: relative;
 text-decoration: none;
}
#mobile-side-nav ul li a:hover,
#mobile-side-nav ul li a:focus {
 background-color: rgb(219 219 219 / 44%);
 color: #000;
}
#mobile-side-nav ul li a i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#mobile-side-nav ul ul {
 background-color: rgb(0 0 0 / 9%);;
}
#mobile-side-nav ul ul ul {
 background-color: rgb(0 0 0 / 18%);;
}
#mobile-side-nav ul ul ul ul {
 background-color: rgb(0 0 0 / 27%);;
}

#mobile-side-nav ul ul li a {
 padding-left: 30px;
}
#mobile-side-nav ul ul ul li a {
 padding-left: 60px;
}
#mobile-side-nav ul ul ul ul li a {
 padding-left: 90px;
}
#mobile-side-nav ul ul ul ul ul li a {
 padding-left: 120px;
}