#mobile-nav .container {
 /*background-color: #67697c;*/
 background: rgb(228,222,245);
 background: linear-gradient(354deg, rgba(228,222,245,1) 0%, rgba(255,255,255,1) 40%, rgba(250,254,254,1) 63%, rgba(209,246,242,1) 100%);
 padding: 0;
}
#mobile-nav .toggle {
 display: block;
 width: 100%;
 background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(68,206,199,1) 50%, rgba(64,95,174,1) 100%);
 color: #000;
 height: 30px;
 line-height: 30px;
 padding: 10px 0;
 position: relative;
 text-align: center;
 text-decoration: none;
}
#mobile-nav ul {
 display: none;
 list-style: none;
 margin: 0;
 padding: 0;

 box-shadow: 0 2px 10px #ccc inset;
}
#mobile-nav ul li a {
 color: #565656;
 display: block;
 padding: 10px 0 10px 10px;
 position: relative;
 text-decoration: none;
}
#mobile-nav ul li a:hover {
 /*background-color: rgb(0 0 0 / 10%);*/
 color: #642ec4;
}
#mobile-nav ul li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  /* border-radius: 4px; */
  background-color: #e3d5ff;
  bottom: 0;
  left: 0;
  opacity: 0;
  /*transform-origin: right;
  transform: scaleX(0);*/
  transition: opacity 2s ease-in-out;
}
#mobile-nav ul li a:hover::before {
  /*transform-origin: left;
  transform: scaleX(1);*/
  opacity: 1;

  transition: opacity .3s ease-in-out;
}
#mobile-nav ul {

}
#mobile-nav ul ul li a {
 background-color: rgb(0 0 0 / 4%);
 padding-left: 30px;
}
#mobile-nav ul ul ul li a {
 background-color: rgb(0 0 0 / 7%);
 padding-left: 60px;
}
#mobile-nav ul ul ul ul li a {
 background-color: rgb(0 0 0 / 9%);
 padding-left: 90px;
}
#mobile-nav ul li a i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

#mobile-nav ul li {
    border-bottom: 0; /*1px solid #27466e;*/
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 3px;
  width: 20px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button-container {
 display: inline-block;
 margin: -9px 10px 0;
 vertical-align: middle;
}

.menu-button::before {
  content: '';
  margin-top: -6px;
}

.menu-button::after {
  content: '';
  margin-top: 6px;
}

.toggle.opened .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

.toggle.opened .menu-button {
  background: rgba(0, 0, 0, 0);
}

.toggle.opened .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}